.header {
  background-color: transparent;
  padding: 30px 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; 
  top: 0;
  width: 100%;      
  transition: padding 2s ease, background-color 20s ease;
  z-index: 999;
}

.header.active_header {
  background-color: #fff;
  padding: 15px 2em; /* تصغير بدل height */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}



.logo {
  font-weight: bold;
  font-size: 20px;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
}

.nav-links a:hover {
  color: #dcb04d;
  transition: color 1s;
}

.icons {
  display: flex;
  gap: 15px;
  position: relative;
}

.icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.bi-list{
   font-size: 24px;
  cursor: pointer;
  display: none;
}

.cart {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: red;
  color: #fff;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 10px;
}
.notification {
  position: absolute;
  top: 10vh;
  right: 50%;
  transform: translateX(50%);
  background-color: #e1f7e5;
  color: #2e7d32;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px 12px;
  border-radius: 5px;
  display: none;
  z-index: 9999;
}
@media (max-width: 1024px) {
    .nav-links{
        display: none;
    }
    .bi-list{
        display: block;
    }
}
 /* header.active_header{
     background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: height 2s ease;
  height: 80px;
    z-index: 99;
  
} */