.nav-links {
  display: flex;
  gap: 2em;
  /* background-color: #fff; */
  /* padding: 1em 2em; */
  position: relative;
}

.dropdown {
  position: relative;
  
}

.dropdown > a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  /* padding: 0.5em 1em; */
  display: block;
}

.dropdown-menu {
  position: absolute;
  top: 11vh;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 0;
  min-width: 180px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.4s ease;
  z-index: 999;
}
.dropdown-menu::after {
    position: absolute;
    content: "";
    left: 5%;
    top: -40px;
    border-color: transparent transparent #ddd transparent;
    border-width: 10px 10px 10px 10px;
    border-style: solid;
    height: 20px;
}

.dropdown-menu li {
  list-style: none;
}

.dropdown-menu li a {
  display: block;
  padding: 10px 15px;
  color: #444;
  text-decoration: none;
  transition: background 0.3s;
}

.dropdown-menu li a:hover {
  background-color: #f2f2f2;
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
@media (max-width: 768px) {
  .nav-links {
    display: none;}
    
}