.swiper {
    width: 100%;
    height: 100vh;
    position: relative;
    /* padding-top: 5em; */
}

.swiper-wrapper {
    transition-timing-function: ease-in-out;
}

.swiper-slide {
    background: #444;
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 24px;
    transition: transform 0.7s ease-in-out;
    padding-left: 3em;
}

.counter_slider {
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    z-index: 10;
    bottom: 10%;
    right: 5%;
    font-size: 24px;
    color: #111;
}

#total {
    color: #777;
    font-size: 27px;
}

.swiper-pagination {
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.swiper-pagination-bullet-active {
    background-color: #9fa5b2;
    transform: scale(1.5);
}

.swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    background-color: #d8dde6;
    opacity: 1;
    border-radius: 50%;
    margin: 8px 0;
    transition: all 0.3s ease;
}

#bk-img1 {
    background-image: url(../images/home-para-1.webp);
    background-position: center;
    background-size: cover;
}

#bk-img2 {
    background-image: url(../images/home-para-2.webp);
    background-position: center;
    background-size: cover;
}

#bk-img3 {
    background-image: url(../images/home-para-3.webp);
    background-position: center;
    background-size: cover;
}

.title__page {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.title__page a{
    color: #111;
}
.title__page h1 {
    font-size: 46px;
    color: #111;
}
.left-line{
    border-left: 2px solid #999;
    padding-left: 1em;
}
.title__page h5 {
    font-size: 18px;
    color: #999;

}
@media (max-width: 1024px) {
    .swiper {
        height: 70vh;
    }

    .swiper-slide {
        padding-left: 1em;
    }

    .title__page h1 {
        font-size: 36px;
    }

    .title__page a {
        font-size: 18px;
    }
}


/* ----------------------------- */
/* 📱 موبايل (≤ 600px) */
/* ----------------------------- */
@media (max-width: 600px) {
    .swiper {
        height: 80vh;
    }

    .swiper-slide {
        font-size: 18px;
        padding-left: 1em;
    }

    .title__page {
        width: 90%;
        gap: 1.2em;
    }

    .title__page h1 {
        font-size: 26px;
        line-height: 1.3;
    }

    .title__page h5 {
        font-size: 16px;
    }

    .counter_slider {
        font-size: 18px;
        right: 3%;
    }

    #total {
        font-size: 20px;
    }

    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        margin: 5px 0;
    }
}
